<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.xiny.simpleblog.mapper.ApilogMapper">

    <resultMap id="BaseResultMap" type="github.xiny.simpleblog.domain.ApiLog" >
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="reqIp" column="req_ip" jdbcType="VARCHAR"/>
            <result property="reqApi" column="req_api" jdbcType="VARCHAR"/>
            <result property="reqParame" column="req_parame" jdbcType="VARCHAR"/>
            <result property="reqType" column="req_type" jdbcType="VARCHAR"/>
            <result property="reqToken" column="req_token" jdbcType="VARCHAR"/>
            <result property="reqHeader" column="req_header" jdbcType="VARCHAR"/>
            <result property="resCode" column="res_code" jdbcType="VARCHAR"/>
            <result property="resMsg" column="res_msg" jdbcType="VARCHAR"/>
            <result property="resString" column="res_string" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="adminId" column="admin_id" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="costTime" column="cost_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,req_ip,req_api,
        req_parame,req_type,req_token,
        req_header,res_code,res_msg,
        res_string,user_id,admin_id,
        start_time,end_time,cost_time
    </sql>
</mapper>
